receptor = project01/phase2_blind_petase_qmmm_20260630/blind_work/01_system_setup/prepared_initial_pdbs/6QGC_chainA_initial_clean_v2.pdb
ligand = project01/phase2_blind_petase_qmmm_20260630/blind_work/01_system_setup/ligand_build/MHET_like/MHET_like_conf001_named_atoms.pdb
center_x = -1.231
center_y = -9.895
center_z = 202.024
size_x = 22.000
size_y = 22.000
size_z = 22.000
exhaustiveness = 16
num_modes = 20
