receptor = project01/phase2_blind_petase_qmmm_20260630/blind_work/01_system_setup/prepared_initial_pdbs/6EQE_chainA_initial_clean_v2.pdb
ligand = project01/phase2_blind_petase_qmmm_20260630/blind_work/01_system_setup/ligand_build/BHET_like/BHET_like_conf001_named_atoms.pdb
center_x = -20.465
center_y = -10.036
center_z = 7.369
size_x = 22.000
size_y = 22.000
size_z = 22.000
exhaustiveness = 16
num_modes = 20
